node_modules
.env
.env.local
*.log
.DS_Store
data
public/*
!public/sw.js
!public/manifest.template.json
!public/manifest.json
!public/icon-*.png
!public/favicon.png
dist
.git
.gitignore
README.md
docker-compose.yml
